//--------------------------------------------------------------
//Fonts
//--------------------------------------------------------------

@font-face {
  font-family: 'DM Serif Display';
  src: url('../app/fonts/DMSerifDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../app/fonts/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}