//--------------------------------------------------------------
//Fonts
//--------------------------------------------------------------

$main-font: 'Jost';

//--------------------------------------------------------------
//Fonts size
//--------------------------------------------------------------
$size11: 11px;
$size12: 12px;
$size13: 13px;
$size14: 14px;
$size15: 15px;
$size16: 15px;
$size18: 18px;
$size19: 19px;
$size20: 20px;
$main-size: 22px;
$size25: 25px;
$size30: 30px;
$size35: 35px;
$size40: 40px;
$size50: 50px;
$size75: 75px;
$size80: 80px;

//--------------------------------------------------------------
//Colors
//--------------------------------------------------------------

$white: #fff;
$black: #000;
$green: #0ed193;
$blue: #01A0BF;
$light-grey: #E4ECEE;
$grey: #ACBBBE;
$sea: #235660;


//--------------------------------------------------------------
//Extends fonts
//--------------------------------------------------------------

%h1 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 700;
  font-size: $size80;
  line-height: 1.13;
  color: $black;

  @media (max-width: 1200px) {
    font-size: 50px;
  }
  @media (max-width: 850px) {
    font-size: 40px;
  }
  @media (max-width: 600px) {
    font-size: 30px;
  }
}

%h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 700;
  font-size: $size50;
  line-height: 1.35;
  color: $black;

  @media (max-width: 850px) {
    font-size: $size30;
  }

  @media (max-width: 600px) {
    font-size: $size25;
  }


}

%h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 500;
  font-size: $size25;
  line-height: 1.33;
  color: $black;

  @media (max-width: 850px) {
    font-size: $size18;
  }

  @media (max-width: 600px) {
    font-size: $size15;
  }
}

%big-text {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: $size19;
  line-height: 1.31;
  color: $black;

  @media (max-width: 800px) {
    font-size: 14px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

%regular-text {
  font-family: 'Red Ring';
  font-style: normal;
  font-weight: 300;
  font-size: $size13;
  line-height: 1.3;
  color: $black;

  @media (max-width: 800px) {
    font-size: $size12;
  }
  @media (max-width: 500px) {
    font-size: $size11;
  }
}

%medium-text {
  font-family: 'Red Ring';
  font-style: normal;
  font-weight: 300;
  font-size: $size15;
  line-height: 1.33;
  color: $grey;

  @media (max-width: 930px) {
    font-size: $size13;
  }
  @media (max-width: 450px) {
    font-size: $size11;
  }
}

%regular-bold {
  font-family: 'Red Ring';
  font-style: normal;
  font-size: $size13;
  line-height: 1.15;
  color: $black;
}

%medium-bold {
  font-family: 'Red Ring';
  font-style: normal;
  font-weight: 500;
  font-size: $size15;
  line-height: 1.33;

  @media (max-width: 850px) {
    font-size: 14px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

//--------------------------------------------------------------
//Extends class
//--------------------------------------------------------------

%btn {

  display: inline-block;

  min-width: 138px;


  background: #292F36;
  border: 0;
  border-radius: 18px;
  cursor: pointer;

  transition: all .2s;

  @media (max-width: 570px) {
    min-width: 50px;
    padding: 14px 15px;
  }

  span {
    font-size: 18px;
    color: #ffffff;
    padding: 22px 21px 22px 34px ;
    margin-right: 21px;
  }

  &:hover {
    background: #a26546;
    transition: all .2s;
  }
}

.btn-l {
  padding: 16px 34px 20px;

  @media (max-width: 600px) {
    padding: 15px 14px;
  }
}


// circle
// ===============================

.circle--top {
  position: absolute;
  border-radius: 50%;
  border-right: 1px solid $sea;
}
.circle--bottom {
  position: absolute;
  border-radius: 50%;
  border-left: 1px solid $sea;
}

// ui slider
// ===============================


%ui-state-default-castom {
  width: 35px;
  height: 35px;

  margin-left: -17px;
  top: -17px;

  border-radius: 50%;
  border: 6px solid rgba(14, 209, 147, 0.25);
  background: $green;
  background-clip: padding-box;

  &:after {
    content: '';
    display: block;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    width: 7px;
    height: 7px;
    border-radius: 50%;

    background: $white;
  }
}

%ui-slider-castom {
  height: 1px;
  background: $light-grey;
  border: none;
  border-radius: 0;

}
%ui-slider-range-castom {
  background: $green;
  height: 2px;
}



















