.people_thinks {
  padding: 140px 0;

  @media (max-width: 1100px) {
    padding: 60px 0;
  }

  @media (max-width: 575px) {
    padding: 40px 0;
  }
}

.people-thinks_wrapped {
  padding: 103px 50px 121px 50px;
  background: #F4F0EC;
  border-radius: 70px;

  @media (max-width: 1100px) {
    padding: 35px 50px 35px 50px;
  }

  @media (max-width: 575px) {
    padding: 35px 0;
  }
}

.section_title {
  text-align: center;
  h2 {
    @extend %h2;
  }
}

.people-thinks-person {
  margin-top: 47px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1100px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.people-thinks_item {
  background: #FFFFFF;
  border-radius: 30px;
  max-width: 354px;
  padding: 50px 67px 45px 35px;
  margin: 10px;

  @media (max-width: 1200px) {
    max-width: 300px;
    padding: 40px 20px 20px 25px;
    margin-top: 30px;
  }

  @media (max-width: 1100px) {
    padding: 20px 20px 20px 25px;
  }

  p:last-child {
    margin-top: 32px;
    font-size: 20px;

    @media (max-width: 1090px) {
      margin-top: 20px;
    }

    @media (max-width: 575px) {
      margin-top: 15px;
    }
  }
}

.person_info {
  display: flex;
  align-items: center;

  img {
    margin-right: 20px;
  }

  p:first-child {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: 600;
  }

  p:last-child {
    margin-top: 10px;
    font-size: 18px;
  }
}
